{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header class="header">
        <div class="header__github">
            <a class="github-button" href="https://github.com/ramonsaraiva/missinboxalready" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ramonsaraiva/missinboxalready on GitHub">Star</a>
        </div>
        <img class="header__logo" src="{% static 'inbox.png' %}" />
        <h1 class="header__missers"><span class="js-counter">{{ object_list|length }}</span> people miss Google Inbox already</h1>
        <p class="header__death">October 22, 2014 - March 31, 2019 &dagger;</p>
        <button class="header__cta js-cta">I miss Inbox already</button>
        <a href="#statistics" class="header__statistics">Check out who misses it by country <span>&darr;</span></a>
    </header>
    <section id="statistics" class="statistics">
        <canvas id="statistics-chart" style="max-height: 1000px; max-width: 1000px;"</canvas>
    </section>
    <script>
        let chart_labels = {{ chart_data.chart_labels|safe }};
        let chart_dataset = {{ chart_data.chart_dataset|safe }};
    </script>
{% endblock %}
