<!doctype html>
{% load static %}
{% load compress %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Miss Inbox Already</title>
        <meta name="description" content="We all miss Google Inbox already">
        <meta name="author" content="Ramon Saraiva">

        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Merriweather:400,700" rel="stylesheet">
        {% compress css inline %}
        <link rel="stylesheet" href="{% static 'main.css' %}">
        {% endcompress %}
    </head>

    <body>
        {% block content %}
        {% endblock %}
        <script>
            let CSRF_TOKEN = '{{ csrf_token }}';
        </script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        {% compress js inline %}
        <script type="text/javascript" src="{% static 'main.js' %}"></script>
        {% endcompress %}
    </body>
</html>
