<!doctype html>
{% load static %}
{% load compress %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Miss Inbox Already</title>
        <meta name="description" content="We all miss Google Inbox already">
        <meta name="author" content="Ramon Saraiva">

        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Merriweather:400,700" rel="stylesheet">
        {% compress css inline %}
        <link rel="stylesheet" href="{% static 'main.css' %}">
        {% endcompress %}

        {% if GTM_CONTAINER %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','{{ GTM_CONTAINER }}');</script>
            <!-- End Google Tag Manager -->
        {% endif %}
    </head>

    <body>
        {% if GTM_CONTAINER %}
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ GTM_CONTAINER }}"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        {% endif %}
        {% block content %}
        {% endblock %}
        <script>
            let CSRF_TOKEN = '{{ csrf_token }}';
        </script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        {% compress js inline %}
        <script type="text/javascript" src="{% static 'main.js' %}"></script>
        {% endcompress %}
    </body>
</html>
